target/
!target/*.jar
.mvn/wrapper/maven-wrapper.jar

.idea/
.vscode/
*.iml
*.ipr
*.iws

# Logs
*.log
logs/

*.tmp
*.temp

.DS_Store
Thumbs.db

# Arquivos Git
.git/
.gitignore

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.bak
*.swp
*.swo

coverage/
test-results/

README.md
docs/

Dockerfile
.dockerignore
docker-compose*.yml 